<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>TodoApp</title>
  <base href="/">
  {% load static %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'todoapp/css/style.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
    
<div class="container">
    <div class="todo_container">
      <h1>TODO APP</h1>
        <form action="add_task/" method="POST">
            {% csrf_token %}
            <input type="text" name="title" id="taskInput"  placeholder="Escribir una tarea">
        </form>
       <div class="todo_list">
        {% for task in tasks %}
        {% csrf_token %}
            <ul >  
              {% if task.done %}
              <li><input type="checkbox"  class="modify-task" checked="checked"  data-id-task="{{ task.taskId }}" >{{task.title}} <img class="deleteTask" src="{% static 'todoapp/img/close_icon.png' %}" alt="" data-task-id="{{ task.taskId }}"></li> 
              {% else %}
              <li><input type="checkbox" class="modify-task"  data-id-task="{{ task.taskId }}" >{{task.title}} <img class="deleteTask" src="{% static 'todoapp/img/close_icon.png' %}" alt="" data-task-id="{{ task.taskId }}"></li> 
              {% endif %}
            </ul>
          {% endfor %}
       </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'todoapp/js/index.js' %}"></script>

</body>
</html>